.dark{
    background-color: rgb(30, 30, 46);
    min-height: 100vh;
    color: #050505;
}

.dark nav{
    background-color: rgb(30, 30, 46);
}

body {
    background-color: rgba(238, 232, 225, 0.582);
}

.dark .mis-ideas-tab,
.dark .mis-contribuciones-tab,
.dark .ideas-guardadas-tab,
.dark .configuracion-tab {
    color: #ffffff; 
}

.dark .custom-tab-button-class {
    color: #ffffff; /* Cambia el color del texto del botón a blanco en modo oscuro */
}


.dark .category-icon {
    color: #ffffff; /* Cambia el color del icono a blanco en modo oscuro */
  }


  .dark .email {
  color: #ffffff; /* Cambia el color del texto a blanco en modo oscuro */
}